In [1]:
#importing depenedencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [5]:
dataset=pd.read_csv('datasets/heart_disease_data.csv')

In [6]:
dataset.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [8]:
x=dataset.drop(columns='target',axis=1)
y=dataset.target

In [9]:
print(x)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [10]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [11]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=3)

### comparing the models

In [15]:
models=[LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [16]:
def test_train_models():
    for i in models:
        i.fit(x_train,y_train)
        test_prediction=i.predict(x_test)
        acc=accuracy_score(test_prediction,y_test)
        print(f"the accuracy score of {i}:{acc}")

In [17]:
test_train_models()

the accuracy score of LogisticRegression(max_iter=1000):0.7868852459016393
the accuracy score of SVC(kernel='linear'):0.7704918032786885
the accuracy score of KNeighborsClassifier():0.6557377049180327
the accuracy score of RandomForestClassifier():0.8032786885245902

### Cross Validation

In [ ]:
models=[LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [19]:
val_lr=cross_val_score(LogisticRegression(max_iter=1000),x,y,cv=5)
print(val_lr)
mean_accuracy=sum(val_lr)/len(val_lr)
print(mean_accuracy)

[0.80327869 0.86885246 0.85245902 0.86666667 0.75      ]
0.8282513661202187

In [21]:
def cross_validation():
    for model in models:
        cv_score=cross_val_score(model,x,y,cv=5)
        print(cv_score)
        mean_accuracy=sum(cv_score)/len(cv_score)
        print(f"The mean accuracy score of {model} is :{mean_accuracy*100:%,.2f}")